<html>
  <head></head>
  <body>
    Yo {{username}} 😄
    <br />
    <br />
    Thank you for forgot password your account.<br />
    Click on the link to confirm your account to change password.<br />
    <br />
    {{url}}
  </body>
</html>